.material-form {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto 20px;
}

.material-form input,
.material-form textarea {
	margin-bottom: 10px;
	padding: 10px;
}

.material-form textarea {
	min-height: 200px;
}

.form-actions {
	display: flex;
	justify-content: space-between;
}

.form-actions button {
	padding: 10px;
	background-color: #6c5ce7;
	color: white;
	border: none;
	cursor: pointer;
}

.form-actions button:hover {
	background-color: #5b4bc7;
}