.question {
	margin-bottom: 20px;
}

.options {
	display: flex;
	flex-direction: column;
}

.option {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	cursor: pointer;
}

.option.selected {
	background-color: #f0f0f0;
}

.option input {
	margin-right: 10px;
}