.app {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
  padding: 20px;
  box-sizing: border-box;
  /* Добавлено */
}

.main-container {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  max-height: calc(100vh - 40px);
  /* Добавлено */
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.user-info {
  margin-bottom: 20px;
}